.alumniPage {
    background-color: var(--color-dark-800);
    min-height: 100vh;
}

.alumniPageTitle {
    text-align: center;
    color: var(--color-accent-primary);
    
    padding: 20px 0 20px;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: none;
}