/* =============================
   LAYOUT BASE (PC & TABLET)
============================= */

.footer {
    background-color: var(--footer-bg);
    padding: 3rem 0; 
    margin-top: auto;
}

.footer__container {
    width: 85%; 
    max-width: 1100px;
    height: 150px; 
    margin: 0 auto;  
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* =============================
   BRANDING (Logo + Texto)
============================= */
.footer__brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__logo {
    width: 5rem;
    height: auto;
}

.footer__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--footer-text);
    margin: 0;
}

/* =============================
   NAVEGACIÓN
============================= */
.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem; 
}

.footer__link {
    color: var(--color-dark-800);
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease, transform 0.2s ease;
}

.footer__link:hover {
    color: var( --color-white);
    transform: translateY(-2px); 
}

/* =============================
   RESPONSIVE (MÓVIL SOLO)
   Aplica solo hasta 767px
============================= */

@media (max-width: 767px) {
    
    .footer__container {
        flex-direction: column;
        gap: 2rem; 
        width: 100%; 
        padding: 0 1rem;
    }

    .footer__brand {
        justify-content: center;
        width: 100%; 
    }

    .footer__nav {
        width: 100%;
    }

    .footer__list {
       justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}